* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    padding:20px;
    background-color: rgb(255, 66, 56);
}
.logo {
    font-size: 28px;
    font-weight: bold;
}
ul li {
    list-style: none;
}
ul li button {
    padding: 5px;
    font-size: 18px;
}
ul li button i {
    padding-right: 5px;
}
.todo-el {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}